Repository Finschia/finschia-sdk, pull requests merged in 2021-12, with the labels that each got.

#391 chore: fix swagger's config path for wasm
  CHANGELOG.md
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
Labels: bug

#388 fix: fix invalid root hash by bumping up tm-db
  CHANGELOG.md
  go.mod
  go.sum
Labels: bug

#392 docs: modify with latest version of swagger REST interface docs.
  CHANGELOG.md
  client/docs/statik/statik.go
Labels: bug

#393 fix: fix bug where `StoreCodeAndInstantiateContract`, `UpdateContractStatus`, `UpdateContractStatusProposal` API does not work
  CHANGELOG.md
  x/wasm/types/codec.go
Labels: bug

#395 feat: Add the `instantiate_permission` in the `CodeInfoResponse`
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/wasm/v1/query.proto
  x/wasm/keeper/legacy_querier.go
  x/wasm/keeper/legacy_querier_test.go
  x/wasm/keeper/querier.go
  x/wasm/keeper/querier_test.go
  x/wasm/types/query.pb.go
Labels: VM

#398 build(deps): github.com/ulikunitz/xz from 0.5.5 to 0.5.10
  cosmovisor/go.mod
  cosmovisor/go.sum
Labels: dependencies

#407 fix: fix query signing infos command
  CHANGELOG.md
  x/slashing/client/cli/query.go
Labels: bug

#406 feat: Add CreateValidator access control feature
  CHANGELOG.md
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/consortium/v1/consortium.proto
  proto/lbm/consortium/v1/event.proto
  proto/lbm/consortium/v1/genesis.proto
  proto/lbm/consortium/v1/query.proto
  simapp/app.go
  simapp/app_test.go
  x/consortium/client/cli/query.go
  x/consortium/client/cli/tx.go
  x/consortium/client/proposal_handler.go
  x/consortium/client/rest/tx.go
  x/consortium/genesis.go
  x/consortium/handler.go
  x/consortium/keeper/grpc_query.go
  x/consortium/keeper/grpc_query_test.go
  x/consortium/keeper/keeper.go
  x/consortium/keeper/keeper_test.go
  x/consortium/keeper/migrations.go
  x/consortium/keeper/params.go
  x/consortium/keeper/params_test.go
  x/consortium/keeper/querier.go
  x/consortium/keeper/validator.go
  x/consortium/keeper/validator_test.go
  x/consortium/module.go
  x/consortium/proposal_handler.go
  x/consortium/proposal_handler_test.go
  x/consortium/types/codec.go
  x/consortium/types/consortium.pb.go
  x/consortium/types/event.pb.go
  x/consortium/types/expected_keepers.go
  x/consortium/types/genesis.go
  x/consortium/types/genesis.pb.go
  x/consortium/types/keys.go
  x/consortium/types/proposal.go
  x/consortium/types/querier.go
  x/consortium/types/query.pb.go
  x/consortium/types/query.pb.gw.go
  x/stakingplus/handler.go
  x/stakingplus/keeper/msg_server.go
  x/stakingplus/module.go
  x/stakingplus/types/expected_keepers.go
Labels: enhancement

#409 ci: fix branch name on ci script
  .github/workflows/test.yml
Labels: ci
