Repository Finschia/finschia-sdk, pull requests merged in 2022-02, with the labels that each got.

#436 chore: remove `x/wasm/linkwasmd`
  CHANGELOG.md
  x/wasm/CHANGELOG.md
  x/wasm/linkwasmd/Makefile
  x/wasm/linkwasmd/README.md
  x/wasm/linkwasmd/app/app.go
  x/wasm/linkwasmd/app/app_test.go
  x/wasm/linkwasmd/app/encoding.go
  x/wasm/linkwasmd/app/export.go
  x/wasm/linkwasmd/app/genesis.go
  x/wasm/linkwasmd/app/helpers/test_helpers.go
  x/wasm/linkwasmd/app/params/doc.go
  x/wasm/linkwasmd/app/params/encoding.go
  x/wasm/linkwasmd/app/params/params.go
  x/wasm/linkwasmd/app/params/proto.go
  x/wasm/linkwasmd/app/params/weights.go
  x/wasm/linkwasmd/app/pubkey_replacement.go
  x/wasm/linkwasmd/app/sim_test.go
  x/wasm/linkwasmd/app/test_access.go
  x/wasm/linkwasmd/app/test_helpers.go
  x/wasm/linkwasmd/cmd/linkwasmd/cmd/genaccounts.go
  x/wasm/linkwasmd/cmd/linkwasmd/cmd/root.go
  x/wasm/linkwasmd/cmd/linkwasmd/cmd/testnet.go
  x/wasm/linkwasmd/cmd/linkwasmd/main.go
  x/wasm/linkwasmd/go.mod
  x/wasm/linkwasmd/go.sum
  x/wasm/linkwasmd/initialize.sh
  x/wasm/linkwasmd/perf/contract/cw_erc20_v4.wasm
  x/wasm/linkwasmd/perf/scripts/capture.sh
  x/wasm/linkwasmd/perf/scripts/fire.sh
  x/wasm/linkwasmd/perf/scripts/init-chain.sh
  x/wasm/linkwasmd/perf/scripts/prepare.sh
  x/wasm/linkwasmd/perf/scripts/report.sh
  x/wasm/linkwasmd/perf/tools/FlameGraph.tar.gz
  x/wasm/linkwasmd/types/address.go
Labels: VM

#438 fix: `make proto-format` bug in the Makefile
  .github/workflows/proto.yml
  CHANGELOG.md
  Makefile
  proto/lbm/tx/v1/service.proto
Labels: bug

#442 doc: change CHANGELOG.md
  CHANGELOG.md
Labels: documentation

#416 feat: Migrate token module from line/link
  CHANGELOG.md
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/genesis.proto
  proto/lbm/token/v1/query.proto
  proto/lbm/token/v1/token.proto
  proto/lbm/token/v1/tx.proto
  simapp/app.go
  x/token/class/keeper/alias.go
  x/token/class/keeper/genesis.go
  x/token/class/keeper/id.go
  x/token/class/keeper/keeper.go
  x/token/class/keeper/keys.go
  x/token/class/keys.go
  x/token/class/validation.go
  x/token/client/cli/query.go
  x/token/client/cli/tx.go
  x/token/client/testutil/cli_test.go
  x/token/client/testutil/query.go
  x/token/client/testutil/suite.go
  x/token/client/testutil/tx.go
  x/token/codec.go
  x/token/event.pb.go
  x/token/expected_keepers.go
  x/token/genesis.go
  x/token/genesis.pb.go
  x/token/genesis_test.go
  x/token/keeper/alias.go
  x/token/keeper/genesis.go
  x/token/keeper/genesis_test.go
  x/token/keeper/handler.go
  x/token/keeper/handler_test.go
  x/token/keeper/keeper.go
  x/token/keeper/keeper_test.go
  x/token/keeper/keys.go
  x/token/keeper/msg_server.go
  x/token/keeper/msg_server_test.go
  x/token/keeper/query_server.go
  x/token/keeper/query_server_test.go
  x/token/keeper/supply.go
  x/token/keeper/supply_test.go
  x/token/keeper/transfer.go
  x/token/keeper/transfer_test.go
  x/token/keys.go
  x/token/module/module.go
  x/token/msgs.go
  x/token/msgs_test.go
  x/token/query.pb.go
  x/token/query.pb.gw.go
  x/token/token.pb.go
  x/token/tx.pb.go
  x/token/validation.go
Labels: enhancement
