Repository Finschia/finschia-sdk, pull requests merged in 2022-04, with the labels that each got.

#483 docs: update documents on x/stakingplus
  CHANGELOG.md
  x/README.md
  x/stakingplus/spec/01_state.md
  x/stakingplus/spec/02_state_transitions.md
  x/stakingplus/spec/03_messages.md
  x/stakingplus/spec/04_begin_block.md
  x/stakingplus/spec/05_end_block.md
  x/stakingplus/spec/06_hooks.md
  x/stakingplus/spec/07_events.md
  x/stakingplus/spec/08_params.md
  x/stakingplus/spec/README.md
Labels: documentation

#500 feat: add returning the contract env for GlobalAPI
  go.mod
  go.sum
  x/wasm/keeper/api.go
Labels: enhancement, VM

#501 chore: fix init_node script(grpc-web port)
  init_node.sh
Labels: bug

#490 docs: update documents on x/consortium
  CHANGELOG.md
  x/README.md
  x/consortium/spec/01_concepts.md
  x/consortium/spec/02_state.md
  x/consortium/spec/03_events.md
  x/consortium/spec/04_params.md
  x/consortium/spec/README.md
Labels: documentation

#516 fix: restore norace tag
  CHANGELOG.md
  server/grpc/server_test.go
Labels: bug
