Repository Finschia/finschia-sdk, pull requests merged in 2022-01, with the labels that each got.

#400 feat: add `bankplus` function to restrict to send coin to inactive smart contract.
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/bankplus/v1/bankplus.proto
  simapp/app.go
  simapp/app_test.go
  x/bankplus/keeper/inactive.go
  x/bankplus/keeper/inactive_test.go
  x/bankplus/keeper/keeper.go
  x/bankplus/keeper/keeper_test.go
  x/bankplus/module.go
  x/bankplus/types/bankplus.pb.go
  x/wasm/keeper/genesis_test.go
  x/wasm/keeper/keeper.go
  x/wasm/keeper/options_test.go
  x/wasm/keeper/test_common.go
  x/wasm/keeper/wasmtesting/coin_transferrer.go
Labels: VM

#389 feat: sample upgrade for gov
  docs/core/proto-docs.md
  proto/lbm/gov/migrations/v1/gov.proto
  proto/lbm/gov/v1/gov.proto
  simapp/app.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/keeper.go
  x/gov/keeper/migrations.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/querier_test.go
  x/gov/migrations/sample/store.go
  x/gov/migrations/v1/gov.pb.go
  x/gov/migrations/v1/proposalv1.go
  x/gov/module.go
  x/gov/types/gov.pb.go
  x/gov/types/keys.go
  x/gov/types/proposal.go
  x/upgrade/abci.go
  x/upgrade/abci_test.go
Labels: sample

#411 fix: validate validator addresses in update-validator-auths proposal
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/consortium/v1/query.proto
  testutil/rest/rest.go
  x/consortium/client/cli/query.go
  x/consortium/client/cli/tx.go
  x/consortium/client/proposal_handler.go
  x/consortium/client/testutil/cli_test.go
  x/consortium/client/testutil/grpc.go
  x/consortium/client/testutil/query.go
  x/consortium/client/testutil/suite.go
  x/consortium/client/testutil/tx.go
  x/consortium/keeper/grpc_query.go
  x/consortium/keeper/grpc_query_test.go
  x/consortium/keeper/keeper_test.go
  x/consortium/keeper/validator_test.go
  x/consortium/module.go
  x/consortium/types/proposal.go
  x/consortium/types/query.pb.go
  x/consortium/types/query.pb.gw.go
Labels: bug
