Repository Finschia/finschia-sdk, pull requests merged in 2022-07, with the labels that each got.

#580 fix: push docker image action.
  .github/workflows/docker.yml
  CHANGELOG.md
  Dockerfile
  go.mod
  go.sum
Labels: bug, ci

#588 Revert BaseAccount back to cosmos-sdk
  baseapp/block_gas_test.go
  docs/core/proto-docs.md
  proto/cosmos/auth/v1beta1/auth.proto
  proto/cosmos/bank/v1beta1/query.proto
  proto/cosmos/base/snapshots/v1beta1/snapshot.proto
  proto/cosmos/base/store/v1beta1/snapshot.proto
  proto/cosmos/evidence/v1beta1/evidence.proto
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/mint/v1beta1/mint.proto
  proto/cosmos/slashing/v1beta1/tx.proto
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/staking/v1beta1/tx.proto
  proto/cosmos/tx/v1beta1/service.proto
  proto/cosmos/vesting/v1beta1/tx.proto
  x/auth/keeper/keeper.go
  x/auth/types/account.go
  x/auth/types/account_test.go
  x/auth/types/auth.pb.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
  x/bank/keeper/view.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/submsg_test.go
Labels: enhancement

#591 chore: add `x/wasm` module to `simapp`
  CHANGELOG.md
  Dockerfile
  Makefile
  baseapp/block_gas_test.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  server/README.md
  server/export_test.go
  simapp/app.go
  simapp/app_test.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simapp/simd/cmd/root.go
  simapp/test_helpers.go
  testutil/network/network.go
  x/auth/client/testutil/suite.go
  x/capability/genesis_test.go
  x/gov/genesis_test.go
  x/upgrade/abci_test.go
  x/wasm/client/cli/genesis_msg_test.go
  x/wasm/simulation/genesis.go
  x/wasm/simulation/params.go
Labels: VM

#589 fix: fix naming collision in x/token enums
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/query.proto
  proto/lbm/token/v1/token.proto
  proto/lbm/token/v1/tx.proto
  x/token/client/cli/query.go
  x/token/client/cli/tx.go
  x/token/client/testutil/cli_test.go
  x/token/client/testutil/query.go
  x/token/client/testutil/suite.go
  x/token/client/testutil/tx.go
  x/token/event.go
  x/token/event.pb.go
  x/token/genesis.go
  x/token/genesis_test.go
  x/token/keeper/alias.go
  x/token/keeper/genesis.go
  x/token/keeper/genesis_test.go
  x/token/keeper/grpc_query.go
  x/token/keeper/grpc_query_test.go
  x/token/keeper/keeper_test.go
  x/token/keeper/msg_server.go
  x/token/keeper/msg_server_test.go
  x/token/keeper/supply.go
  x/token/keeper/supply_test.go
  x/token/msgs.go
  x/token/msgs_test.go
  x/token/query.pb.go
  x/token/query.pb.gw.go
  x/token/token.go
  x/token/token.pb.go
  x/token/tx.pb.go
  x/token/validation.go
Labels: bug

#571 feat: add x/collection proto
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/collection/v1/collection.proto
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/genesis.proto
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
  x/collection/collection.go
  x/collection/collection.pb.go
  x/collection/event.pb.go
  x/collection/genesis.pb.go
  x/collection/query.pb.go
  x/collection/query.pb.gw.go
  x/collection/tx.pb.go
Labels: C:Collection

#590 test(x/wasm): add integration tests for dynamic call
  CHANGELOG.md
  go.mod
  go.sum
  x/wasm/dynamic_link_test.go
  x/wasm/testdata/call_number.wasm
  x/wasm/testdata/checksums.txt
  x/wasm/testdata/dynamic_callee_contract.wasm
  x/wasm/testdata/dynamic_caller_contract.wasm
  x/wasm/testdata/number.wasm
Labels: VM

#574 feat: implement x/collection
  .golangci.yml
  CHANGELOG.md
  simapp/app.go
  x/collection/client/cli/query.go
  x/collection/client/cli/tx.go
  x/collection/client/testutil/cli_test.go
  x/collection/client/testutil/query.go
  x/collection/client/testutil/suite.go
  x/collection/client/testutil/tx.go
  x/collection/codec.go
  x/collection/collection.go
  x/collection/collection_test.go
  x/collection/event.go
  x/collection/event_test.go
  x/collection/expected_keepers.go
  x/collection/genesis.go
  x/collection/genesis_test.go
  x/collection/keeper/alias.go
  x/collection/keeper/genesis.go
  x/collection/keeper/genesis_test.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
  x/collection/keeper/keeper.go
  x/collection/keeper/keeper_test.go
  x/collection/keeper/keys.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/nft.go
  x/collection/keeper/nft_test.go
  x/collection/keeper/param.go
  x/collection/keeper/send.go
  x/collection/keeper/send_test.go
  x/collection/keeper/supply.go
  x/collection/keeper/supply_test.go
  x/collection/keys.go
  x/collection/module/module.go
  x/collection/msgs.go
  x/collection/msgs_test.go
Labels: enhancement, C:Collection

#596 Remove prefetch functionality
  baseapp/abci.go
  baseapp/grpcrouter.go
  server/mock/store.go
  server/mock/store_test.go
  simapp/ante_handler.go
  store/cachekv/store.go
  store/cachekv/store_test.go
  store/cachemulti/store.go
  store/dbadapter/store.go
  store/dbadapter/store_test.go
  store/gaskv/store.go
  store/gaskv/store_test.go
  store/iavl/metrics.go
  store/iavl/prefetch.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/iavl/tree.go
  store/listenkv/store.go
  store/prefix/store.go
  store/prefix/store_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/tracekv/store.go
  store/tracekv/store_test.go
  store/types/store.go
  x/auth/ante/ante.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
  x/auth/keeper/account.go
  x/auth/keeper/keeper.go
  x/auth/keeper/keeper_test.go
  x/auth/types/expected_keepers.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/view.go
  x/bank/types/expected_keepers.go
  x/feegrant/expected_keepers.go
  x/gov/types/expected_keepers.go
Labels: performance

#599 fix: fix the order of events
  CHANGELOG.md
  x/token/event.go
  x/token/event_test.go
  x/token/keeper/msg_server.go
  x/token/keeper/supply.go
Labels: bug

#604 feat: add EventOwnerChanged and EventRootChanged
  CHANGELOG.md
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/collection/v1/event.proto
  x/collection/event.go
  x/collection/event.pb.go
  x/collection/event_test.go
  x/collection/keeper/nft.go
  x/collection/keeper/send.go
  x/collection/keeper/supply.go
Labels: enhancement, C:Collection

#608 refactor: remove new APIs on x/collection
  CHANGELOG.md
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/collection/v1/query.proto
  proto/lbm/collection/v1/tx.proto
  x/collection/client/cli/query.go
  x/collection/client/cli/tx.go
  x/collection/client/testutil/query.go
  x/collection/client/testutil/suite.go
  x/collection/client/testutil/tx.go
  x/collection/codec.go
  x/collection/collection.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
  x/collection/keeper/keys.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/send.go
  x/collection/msgs.go
  x/collection/msgs_test.go
  x/collection/query.pb.go
  x/collection/query.pb.gw.go
  x/collection/tx.pb.go
Labels: C:Collection

#602 docs: update outdated events in specs
  CHANGELOG.md
  docs/core/event.md
  x/bank/spec/04_events.md
  x/collection/spec/03_events.md
  x/crisis/spec/03_events.md
  x/distribution/spec/06_events.md
  x/evidence/spec/04_events.md
  x/feegrant/spec/04_events.md
  x/foundation/spec/03_events.md
  x/gov/spec/04_events.md
  x/slashing/spec/06_events.md
  x/staking/spec/07_events.md
  x/token/spec/03_events.md
Labels: documentation
