Repository Finschia/finschia-sdk, pull requests merged in 2022-11, with the labels that each got.

#779 ci: change github action trigger rules for `release/*` and `rc*/*` branches
  .github/workflows/docker.yml
  .github/workflows/lint.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  CHANGELOG.md
Labels: ci

#781 chore: implemented method `SetOption()`
  CHANGELOG.md
  baseapp/abci.go
Labels: bug

#782 fix: add unhandled return error handling.
  CHANGELOG.md
  baseapp/grpcserver.go
  server/start.go
  server/util.go
  x/auth/client/rest/query.go
  x/bank/client/cli/tx.go
  x/feegrant/client/cli/tx.go
  x/foundation/keeper/member.go
  x/slashing/genesis.go
  x/slashing/keeper/hooks.go
  x/staking/genesis.go
  x/staking/keeper/msg_server.go
  x/wasm/client/cli/query.go
Labels: bug

#790 fix: fix case of gov_mint_left_count in x/foundation
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/genesis.proto
  x/foundation/genesis.pb.go
Labels: bug, C:Foundation

#798 fix: fix x/collection ModifyContract
  CHANGELOG.md
  x/collection/keeper/supply.go
  x/collection/keeper/supply_test.go
  x/token/keeper/supply_test.go
Labels: bug, C:Collection, C:Token

#784 fix: make field key matching in x/token & x/collection case-sensitive
  CHANGELOG.md
  x/collection/collection.go
  x/collection/keeper/keys.go
  x/collection/keeper/supply.go
  x/collection/msgs.go
  x/collection/msgs_test.go
  x/token/keeper/msg_server_test.go
  x/token/keeper/supply.go
  x/token/msgs_test.go
  x/token/validation.go
Labels: bug, C:Collection, C:Token

#802 docs: update x/foundation documentation
  CHANGELOG.md
  x/foundation/README.md
  x/foundation/client/cli/tx.go
Labels: documentation, C:Foundation

#805 docs: release v0.46.0-rc10
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Labels: release

#812 Release lbm-sdk v0.46.0
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Labels: release
