Repository Finschia/finschia-sdk, pull requests merged in 2022-03, with the labels that each got.

#452 chore: release 0.45.0-rc0
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Labels: release

#457 ci: add swagger check
  .github/actions/generate-swagger/action.yml
  .github/workflows/proto.yml
  CHANGELOG.md
Labels: github_actions, ci

#427 feat: impl GetContractEnv of cosmwasmAPI
  go.mod
  go.sum
  x/wasm/keeper/api.go
  x/wasm/keeper/wasmtesting/mock_engine.go
  x/wasm/types/wasmer_engine.go
Labels: VM

#469 ci: publish docker image on tag push
  .github/workflows/docker.yml
  CHANGELOG.md
  Dockerfile
Labels: github_actions, ci

#471 ci: disable swagger check temporarily
  .github/workflows/proto.yml
  CHANGELOG.md
Labels: github_actions, ci

#470 feat: remove contract activation control by actor
  CHANGELOG.md
  client/docs/statik/statik.go
  docs/core/proto-docs.md
  proto/lbm/wasm/v1/tx.proto
  proto/lbm/wasm/v1/types.proto
  x/wasm/client/cli/new_tx.go
  x/wasm/client/cli/tx.go
  x/wasm/handler.go
  x/wasm/keeper/authz_policy.go
  x/wasm/keeper/genesis_test.go
  x/wasm/keeper/keeper.go
  x/wasm/keeper/keeper_test.go
  x/wasm/keeper/msg_server.go
  x/wasm/keeper/proposal_integration_test.go
  x/wasm/types/codec.go
  x/wasm/types/params.go
  x/wasm/types/params_test.go
  x/wasm/types/tx.go
  x/wasm/types/tx.pb.go
  x/wasm/types/tx_test.go
  x/wasm/types/types.pb.go
Labels: VM
