Repository Finschia/finschia-sdk, pull requests merged in 2022-05, with the labels that each got.

#523 ci: change automerge conditions of Mergify
  .mergify.yml
Labels: ci

#517 fix: genesis auth account format
  CHANGELOG.md
  baseapp/block_gas_test.go
  x/auth/keeper/keeper.go
  x/auth/types/account.go
  x/auth/types/account_test.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
  x/wasm/keeper/keeper_test.go
Labels: bug

#526 feat: add index field into TxResponse
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/base/abci/v1/abci.proto
  types/abci.pb.go
  types/result.go
  types/result_test.go
Labels: enhancement

#528 feat: add a feature of whitelist for /lbm.foundation.v1.MsgWithdrawFromTreasury
  CHANGELOG.md
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/authz.proto
  proto/lbm/foundation/v1/event.proto
  proto/lbm/foundation/v1/genesis.proto
  proto/lbm/foundation/v1/query.proto
  proto/lbm/foundation/v1/tx.proto
  proto/lbm/stakingplus/v1/authz.proto
  simapp/app.go
  x/foundation/authz.go
  x/foundation/authz.pb.go
  x/foundation/client/cli/query.go
  x/foundation/client/cli/tx.go
  x/foundation/client/testutil/grpc.go
  x/foundation/client/testutil/query.go
  x/foundation/client/testutil/suite.go
  x/foundation/client/testutil/tx.go
  x/foundation/codec.go
  x/foundation/event.pb.go
  x/foundation/foundation.go
  x/foundation/genesis.go
  x/foundation/genesis.pb.go
  x/foundation/genesis_test.go
  x/foundation/keeper/exec.go
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
  x/foundation/keeper/grant.go
  x/foundation/keeper/grant_test.go
  x/foundation/keeper/grpc_query.go
  x/foundation/keeper/grpc_query_test.go
  x/foundation/keeper/keeper.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/keys.go
  x/foundation/keeper/msg_server.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/keeper/proposal.go
  x/foundation/keeper/proposal_test.go
  x/foundation/keeper/validator.go
  x/foundation/keeper/validator_test.go
  x/foundation/module/module.go
  x/foundation/msgs.go
  x/foundation/msgs_test.go
  x/foundation/proposal.go
  x/foundation/proposal_test.go
  x/foundation/query.pb.go
  x/foundation/query.pb.gw.go
  x/foundation/tx.pb.go
  x/stakingplus/authz.go
  x/stakingplus/authz.pb.go
  x/stakingplus/codec.go
  x/stakingplus/expected_keepers.go
  x/stakingplus/handler.go
  x/stakingplus/keeper/keeper_test.go
  x/stakingplus/keeper/msg_server.go
  x/stakingplus/keeper/msg_server_test.go
  x/stakingplus/module.go
  x/stakingplus/module/module.go
Labels: enhancement
