Repository Finschia/finschia-sdk, pull requests merged in 2022-10, with the labels that each got.

#687 fix: fix bugs on aborting x/foundation proposals
  CHANGELOG.md
  x/foundation/keeper/exec_test.go
  x/foundation/keeper/keeper_test.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/keeper/proposal.go
  x/foundation/keeper/proposal_test.go
  x/foundation/keeper/vote_test.go
  x/foundation/msgs_test.go
Labels: bug

#708 fix: allow up to one direct sign in multi sign tx
  CHANGELOG.md
  client/tx/tx.go
  client/tx/tx_test.go
  x/auth/client/testutil/suite.go
Labels: bug

#712 fix: fix x/foundation EndBlocker
  CHANGELOG.md
  x/foundation/keeper/abci_test.go
  x/foundation/keeper/keys.go
  x/foundation/keeper/proposal.go
Labels: bug

#726 fix: check allowedList size in StakeAuthorization.Accept
  CHANGELOG.md
  x/staking/types/authz.go
  x/staking/types/authz_test.go
Labels: bug

#724 fix: check pubkey type from validator params
  CHANGELOG.md
  baseapp/params.go
  baseapp/params_test.go
Labels: bug

#721 docs: update x/foundation specification
  CHANGELOG.md
  x/README.md
  x/foundation/README.md
  x/foundation/spec/01_concepts.md
  x/foundation/spec/02_state.md
  x/foundation/spec/03_events.md
  x/foundation/spec/04_params.md
  x/foundation/spec/README.md
Labels: documentation

#730 fix: prune stale x/foundation proposals at voting period end
  CHANGELOG.md
  x/foundation/keeper/abci_test.go
  x/foundation/keeper/proposal.go
Labels: bug

#734 fix: add restrictions on the number of args in the CLIs
  CHANGELOG.md
  x/auth/client/cli/query.go
  x/auth/client/testutil/suite.go
  x/bank/client/cli/query.go
  x/bank/client/testutil/suite.go
  x/gov/client/cli/query.go
  x/gov/client/testutil/suite.go
Labels: bug

#738 feat: bump up cosmos/iavl v0.19.3
  CHANGELOG.md
  baseapp/abci_test.go
  baseapp/options.go
  go.mod
  go.sum
  server/config/config.go
  server/config/toml.go
  server/mock/store.go
  server/mock/store_test.go
  simapp/simd/cmd/root.go
  store/cache/cache_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/iavl/tree.go
  store/iavl/tree_test.go
  store/prefix/store_test.go
  store/rootmulti/proof_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/types/iterator_test.go
  store/types/store.go
  x/wasm/types/iavl_range_test.go
Labels: dependencies

#737 fix: check multisig key list to prevent unexpected key deletion
  CHANGELOG.md
  client/keys/add.go
  client/keys/add_test.go
Labels: bug

#745 Register missing amino codec of `x/token`, `x/collection`, `x/wasm` and `x/foundation`
  CHANGELOG.md
  x/collection/codec.go
  x/collection/keys.go
  x/collection/msgs.go
  x/collection/msgs_test.go
  x/foundation/codec.go
  x/foundation/msgs.go
  x/foundation/msgs_test.go
  x/stakingplus/authz_test.go
  x/stakingplus/codec.go
  x/token/codec.go
  x/token/msgs.go
  x/token/msgs_test.go
  x/wasm/lbmtypes/codec.go
  x/wasm/types/codec.go
  x/wasm/types/tx_test.go
Labels: C:WASM, C:Collection, C:Token, C:Foundation

#748 docs: add govmint to x/foundation specification
  CHANGELOG.md
  x/foundation/README.md
Labels: documentation, C:Foundation

#752 fix: add x/distribution's module account into blockedAddr
  CHANGELOG.md
  simapp/app.go
  x/bank/keeper/genesis_test.go
  x/bank/simulation/operations_test.go
Labels: bug

#756 feat: change to create `chCheckTx` with the value set in app config.
  CHANGELOG.md
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/options.go
  server/config/config.go
  server/config/toml.go
  server/start.go
  simapp/simd/cmd/root.go
Labels: C:baseapp

#754 fix: get seq number for non-multisig signing
  CHANGELOG.md
  x/auth/client/cli/tx_sign.go
  x/auth/client/testutil/suite.go
Labels: bug

#757 refactor: remove redundant granter from x/foundation events
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/event.proto
  x/foundation/event.pb.go
  x/foundation/keeper/grant.go
Labels: C:Foundation

#758 feat: add invariants to x/foundation
  CHANGELOG.md
  simapp/app.go
  x/foundation/client/testutil/grpc.go
  x/foundation/client/testutil/query.go
  x/foundation/client/testutil/suite.go
  x/foundation/keeper/invariants.go
  x/foundation/keeper/invariants_test.go
  x/foundation/keeper/msg_server_test.go
  x/foundation/module/module.go
  x/foundation/msgs_test.go
Labels: enhancement, C:Foundation

#763 fix: start telemetry independently from the API server
  CHANGELOG.md
  server/api/server.go
  server/start.go
Labels: bug

#761 fix: restore build norace flag
  CHANGELOG.md
  x/foundation/client/testutil/cli_test.go
Labels: bug, C:Foundation

#765 docs: release 0.45.0-rc9
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Labels: release

#766 docs: fix submit-proposal tx command
  CHANGELOG.md
  x/foundation/README.md
Labels: documentation, C:Foundation

#772 fix: export x/foundation pool
  CHANGELOG.md
  x/foundation/keeper/genesis.go
  x/foundation/keeper/genesis_test.go
Labels: bug, C:Foundation

#773 fix: guide users to use generate only in messages for x/foundation authority
  CHANGELOG.md
  x/foundation/client/cli/tx.go
Labels: C:Foundation
