Repository Finschia/finschia-sdk, pull requests merged in 2022-08, with the labels that each got.

#636 feat: add creator into x/token EventIssue
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/token/v1/event.proto
  x/token/event.go
  x/token/event.pb.go
  x/token/event_test.go
  x/token/keeper/supply.go
Labels: enhancement, C:Token

#637 refactor: rename x/token events
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/token/v1/event.proto
  x/token/event.go
  x/token/event.pb.go
  x/token/event_test.go
  x/token/keeper/msg_server.go
  x/token/keeper/supply.go
Labels: C:Token

#638 feat: add additional fields into x/collection events
  docs/core/proto-docs.md
  proto/lbm/collection/v1/event.proto
  x/collection/event.go
  x/collection/event.pb.go
  x/collection/event_test.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/supply.go
Labels: C:Collection

#639 refactor: rename x/collection events
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/tx.proto
  x/collection/event.go
  x/collection/event.pb.go
  x/collection/event_test.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/supply.go
  x/collection/tx.pb.go
Labels: C:Collection

#644 fix: add omitted cli commands on x/collection
  CHANGELOG.md
  x/collection/client/cli/tx.go
Labels: bug, C:Collection

#645 fix: make x/collection Query/Balance not to panic on amount of zero in return
  CHANGELOG.md
  x/collection/keeper/grpc_query.go
Labels: bug, C:Collection

#633 perf: add benchmarks for cosmwasm APIs
  CHANGELOG.md
  x/wasm/keeper/api.go
  x/wasm/keeper/bench_test.go
Labels: VM

#640 fix: remove legacy codes of wasm
  CHANGELOG.md
  x/wasm/alias.go
  x/wasm/keeper/msg_server.go
  x/wasm/keeper/proposal_handler.go
  x/wasm/types/events.go
  x/wasm/types/querier_router.go
  x/wasm/types/querier_router_test.go
  x/wasm/types/router.go
  x/wasm/types/router_test.go
Labels: VM

#647 fix: fix bugs in x/collection MsgModify
  CHANGELOG.md
  x/collection/collection.go
  x/collection/collection_test.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/supply.go
  x/collection/keeper/supply_test.go
Labels: bug
