Repository Finschia/finschia-sdk, pull requests merged in 2023-10, with the labels that each got.

#1131 test(collection): add additional unittest of `MsgIssueFT`, `MsgMintFT`, `MsgBurnFT`
  CHANGELOG.md
  x/collection/keeper/msg_server_test.go
  x/collection/msgs_test.go
Labels: C:Collection

#1133 test(collection): add more verify logics for tests(SendFT, OperatorSendFT, Authorize, Revoke)
  CHANGELOG.md
  x/collection/keeper/msg_server_test.go
Labels: C:Collection

#1137 test: add test for event compatibility
  CHANGELOG.md
  x/token/keeper/msg_server_test.go
Labels: C:Token

#1139 test(collection): refactor overall unittests of `x/collection`
  CHANGELOG.md
  testutil/encoding.go
  testutil/encoding_test.go
  x/collection/keeper/keeper_test.go
  x/collection/keeper/msg_server_test.go
Labels: C:Collection

#1140 test(token): refactoring testcase for token
  CHANGELOG.md
  testutil/encoding.go
  testutil/encoding_test.go
  x/token/keeper/keeper_test.go
  x/token/keeper/msg_server_test.go
Labels: C:Token

#1143 Release finschia-sdk v0.48.0
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Labels: release

#1149 fix: github release ci error
  .github/workflows/tag.yml
  CHANGELOG.md
  Makefile
Labels: bug, ci

#1153 fix: remove grpc replace directive
  CHANGELOG.md
  baseapp/deliver_tx_test.go
  baseapp/grpcrouter.go
  baseapp/grpcrouter_helpers.go
  client/config/config_test.go
  client/grpc_query.go
  codec/codec.go
  codec/proto_codec.go
  go.mod
  go.sum
  server/grpc/gogoreflection/serverreflection.go
  server/grpc/server.go
  server/grpc/server_test.go
  server/rosetta/client_online.go
Labels: hotfix

#1157 chore: set CODEOWNERS & backport action
  .github/CODEOWNERS
  .mergify.yml
  CHANGELOG.md
Labels: ci, automerge

#1158 fix: compatible with Ledger (backport #1141)
  CHANGELOG.md
  crypto/ledger/ledger_mock.go
  crypto/ledger/ledger_secp256k1.go
  go.mod
  go.sum
Labels: dependencies, hotfix

#1160 ci: remove autopr in ci
  .github/workflows/autopr.yml
  CHANGELOG.md
Labels: ci, backport/v0.48.x

#1162 Release finschia-sdk v0.48.1
  .github/CODEOWNERS
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Labels: release

#1163 chore(deps, crypto): use secp directly instead of wrapper
  CHANGELOG.md
  crypto/hd/hdpath.go
  crypto/keys/secp256k1/secp256k1.go
  crypto/keys/secp256k1/secp256k1_internal_test.go
  crypto/keys/secp256k1/secp256k1_nocgo.go
  crypto/keys/secp256k1/secp256k1_nocgo_test.go
  crypto/keys/secp256k1/secp256k1_test.go
  crypto/ledger/ledger_mock.go
  crypto/ledger/ledger_notavail.go
  crypto/ledger/ledger_secp256k1.go
  go.mod
  go.sum
  server/rosetta/converter.go
Labels: A: improvement, dependencies

#1167 feat: use CacheContext() in AssertInvariants()
  CHANGELOG.md
  x/crisis/keeper/keeper.go
  x/foundation/keeper/internal/invariants.go
Labels: A: improvement, C:x/crisis
