Repository Finschia/finschia-sdk, pull requests merged in 2023-02, with the labels that each got.

#866 fix: do not create account on x/token,collection
  CHANGELOG.md
  simapp/app.go
  x/collection/expected_keepers.go
  x/collection/keeper/keeper.go
  x/collection/keeper/send.go
  x/collection/keeper/supply.go
  x/token/expected_keepers.go
  x/token/keeper/keeper.go
  x/token/keeper/send.go
  x/token/keeper/supply.go
Labels: bug, C:Collection, C:Token

#882 chore: modify error case
  x/bankplus/keeper/keeper_test.go
Labels: C:bankplus

#883 feat: add zerolog based rolling log system
  CHANGELOG.md
  client/flags/flags.go
  go.mod
  server/cmd/execute.go
  server/logger.go
  server/util.go
Labels: enhancement

#889 feat: remove time-based upgrade
  CHANGELOG.md
  x/upgrade/abci_test.go
  x/upgrade/client/cli/tx.go
  x/upgrade/doc.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/spec/01_concepts.md
  x/upgrade/spec/README.md
  x/upgrade/types/plan.go
  x/upgrade/types/plan_test.go
  x/upgrade/types/proposal_test.go
Labels: enhancement

#890 Map Ostracon:ErrTxInMap to lbm-sdk:ErrTxInMempoolCache
  CHANGELOG.md
  client/broadcast.go
  client/broadcast_test.go
Labels: enhancement

#894 fix: change the default params of x/collection
  CHANGELOG.md
  x/collection/client/testutil/suite.go
  x/collection/genesis.go
  x/collection/keeper/genesis.go
  x/collection/keeper/keeper_test.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/nft_test.go
  x/collection/keeper/param.go
Labels: C:Collection

#897 chore: release v0.47.0-alpha1
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Labels: release

#900 feat: add "uri" for MsgModify and deprecate the old ones
  CHANGELOG.md
  docs/core/proto-docs.md
  go.mod
  go.sum
  proto/lbm/collection/v1/event.proto
  proto/lbm/collection/v1/tx.proto
  proto/lbm/token/v1/event.proto
  proto/lbm/token/v1/tx.proto
  x/collection/event.pb.go
  x/collection/genesis.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/supply.go
  x/collection/keeper/supply_test.go
  x/collection/msgs.go
  x/collection/msgs_test.go
  x/collection/tx.pb.go
  x/token/event.pb.go
  x/token/genesis.go
  x/token/keeper/msg_server.go
  x/token/keeper/supply.go
  x/token/keeper/supply_test.go
  x/token/msgs.go
  x/token/msgs_test.go
  x/token/tx.pb.go
  x/token/validation.go
Labels: enhancement, C:Collection, C:Token
