Repository Finschia/finschia-sdk, pull requests merged in 2023-08, with the labels that each got.

#1061 fix: make x/foundation MsgExec propagate events (backport #1053)
  CHANGELOG.md
  x/foundation/keeper/internal/exec.go
  x/foundation/keeper/internal/keeper_test.go
  x/foundation/keeper/internal/msg_server_test.go
Labels: Do not merge, C:Foundation

#1063 refactor: automate EventTypeMessage inclusion in every message execution (backport cosmos/cosmos-sdk#13532)
  CHANGELOG.md
  baseapp/baseapp.go
  baseapp/testutil/messages.go
  x/auth/tx/service_test.go
  x/auth/vesting/msg_server.go
  x/auth/vesting/types/constants.go
  x/bank/keeper/msg_server.go
  x/bank/types/events.go
  x/crisis/keeper/msg_server.go
  x/crisis/types/events.go
  x/distribution/keeper/msg_server.go
  x/distribution/types/events.go
  x/evidence/keeper/msg_server.go
  x/evidence/types/events.go
  x/feegrant/events.go
  x/gov/keeper/msg_server.go
  x/gov/types/events.go
  x/slashing/keeper/msg_server.go
  x/slashing/types/events.go
  x/staking/keeper/msg_server.go
  x/staking/types/events.go
Labels: C:baseapp, C:Distribution, C:Auth

#1072 fix: address generation of the empty coins in x/foundation (backport #952)
  CHANGELOG.md
  client/grpc/tmservice/service_test.go
  x/foundation/keeper/internal/treasury.go
Labels: C:Foundation

#1079 fix: do not add `module` attribute in case of ibc messages
  CHANGELOG.md
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/xxx_msg_test.go
Labels: bug

#1066 refactor(x/bank): remove message events including `sender` attribute whose information is already present in the relevant events (backport cosmos/cosmos#17273)
  CHANGELOG.md
  client/grpc/tmservice/service_test.go
  types/events.go
  x/auth/tx/service_test.go
  x/authz/keeper/keeper_test.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/send.go
  x/bank/types/events.go
  x/foundation/keeper/internal/abci_test.go
  x/foundation/keeper/internal/msg_server_test.go
Labels: enhancement

#1081 docs: document default events
  CHANGELOG.md
  docs/docs/core/08-events.md
Labels: documentation

#1086 fix: fix redundant priv-validator-key generation when running with kms
  CHANGELOG.md
  server/start.go
  server/start_test.go
Labels: bug

#1102 fix: reject modifying NFT class with token index filled in MsgModify
  CHANGELOG.md
  x/collection/msgs.go
  x/collection/msgs_test.go
Labels: bug, C:Collection, T: State Machine Breaking
