Repository Finschia/finschia-sdk, pull requests merged in 2023-05, with the labels that each got.

#997 docs: fix local swagger url
  CHANGELOG.md
  README.md
Labels: documentation

#999 feat!: migrate x/foundation FoundationTax into x/params
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/foundation/v1/event.proto
  proto/lbm/foundation/v1/tx.proto
  simapp/app.go
  x/foundation/README.md
  x/foundation/client/cli/tx.go
  x/foundation/client/testutil/tx.go
  x/foundation/codec.go
  x/foundation/event.pb.go
  x/foundation/foundation.go
  x/foundation/keeper/exported.go
  x/foundation/keeper/internal/abci_test.go
  x/foundation/keeper/internal/grpc_query_test.go
  x/foundation/keeper/internal/keeper.go
  x/foundation/keeper/internal/keeper_test.go
  x/foundation/keeper/internal/keys.go
  x/foundation/keeper/internal/migrations.go
  x/foundation/keeper/internal/migrations/v2/expected.go
  x/foundation/keeper/internal/migrations/v2/keys.go
  x/foundation/keeper/internal/migrations/v2/store.go
  x/foundation/keeper/internal/migrations/v2/store_test.go
  x/foundation/keeper/internal/msg_server.go
  x/foundation/keeper/internal/msg_server_test.go
  x/foundation/keeper/internal/params.go
  x/foundation/keeper/internal/params_test.go
  x/foundation/keeper/internal/proposal_test.go
  x/foundation/keeper/internal/treasury_test.go
  x/foundation/keys.go
  x/foundation/module/module.go
  x/foundation/msgs.go
  x/foundation/msgs_test.go
  x/foundation/tx.pb.go
Labels: C:Foundation, T: State Machine Breaking

#1017 feat: support custom r/w gRPC options
  CHANGELOG.md
  server/config/config.go
  server/config/config_test.go
  server/config/toml.go
  server/grpc/server.go
  server/start.go
  testutil/network/util.go
Labels: bug

#1019 feat: support custom r/w gRPC options (backport #1017)
  CHANGELOG.md
  server/config/config.go
  server/config/config_test.go
  server/config/toml.go
  server/grpc/server.go
  server/start.go
  testutil/network/util.go
Labels: bug

#1018 feat: support custom r/w gRPC options (backport #1017)
  CHANGELOG.md
  server/config/config.go
  server/config/config_test.go
  server/config/toml.go
  server/grpc/server.go
  server/start.go
  testutil/network/util.go
Labels: bug
