Repository Finschia/finschia-sdk, pull requests merged in 2023-04, with the labels that each got.

#947 fix: unpack proposals in x/foundation import-genesis
  CHANGELOG.md
  x/foundation/genesis.go
  x/foundation/genesis_test.go
Labels: bug, C:Foundation

#953 fix: allow zero amount of coin in x/collection Query/Balance
  CHANGELOG.md
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
Labels: bug, C:Collection

#954 fix: remove duplicated events in x/collection Msg/Modify
  CHANGELOG.md
  x/collection/keeper/supply.go
Labels: bug, C:Collection

#955 fix: return nil where the parent not exists in x/collection Query/Parent
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/collection/v1/query.proto
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
  x/collection/query.pb.go
Labels: bug, C:Collection

#956 fix: replace query errors on the original modules into gRPC ones
  CHANGELOG.md
  simapp/app.go
  x/collection/client/testutil/query.go
  x/collection/expected_keepers.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
  x/collection/keeper/keeper_test.go
  x/collection/module/module.go
  x/token/expected_keepers.go
  x/token/keeper/grpc_query.go
  x/token/keeper/grpc_query_test.go
  x/token/keeper/keeper_test.go
  x/token/module/module.go
Labels: C:Collection, C:Token

#960 fix: fix default next class ids of x/collection
  CHANGELOG.md
  x/collection/collection.go
  x/collection/collection_test.go
Labels: bug, C:Collection

#961 fix: do not loop enum in x/collection
  CHANGELOG.md
  x/collection/keeper/supply.go
  x/collection/module/module.go
  x/foundation/module/module.go
  x/stakingplus/module/module.go
  x/token/module/module.go
Labels: bug, C:Collection

#952 chore: address generation of the empty coins in x/foundation
  CHANGELOG.md
  client/grpc/tmservice/service_test.go
  x/foundation/keeper/internal/abci_test.go
  x/foundation/keeper/internal/treasury.go
  x/foundation/keeper/internal/treasury_test.go
Labels: C:Foundation

#957 fix: refactor queries of x/collection and x/token
  CHANGELOG.md
  simapp/app.go
  x/collection/expected_keepers.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
  x/collection/keeper/keeper_test.go
  x/collection/module/module.go
  x/token/expected_keepers.go
  x/token/keeper/grpc_query.go
  x/token/keeper/grpc_query_test.go
  x/token/keeper/keeper_test.go
  x/token/module/module.go
Labels: C:Collection, C:Token

#963 fix: check event determinism on original modules
  CHANGELOG.md
  x/collection/event.go
  x/collection/keeper/keeper_test.go
  x/collection/keeper/msg_server_test.go
  x/foundation/keeper/internal/abci_test.go
  x/foundation/keeper/internal/keeper_test.go
  x/foundation/keeper/internal/msg_server_test.go
  x/token/event.go
  x/token/keeper/keeper_test.go
  x/token/keeper/msg_server_test.go
Labels: enhancement, C:Collection, C:Token, C:Foundation

#965 chore: provide specific error messages on x/collection queries
  CHANGELOG.md
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
Labels: C:Collection

#966 fix: remove legacy events on x/collection and x/token
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/collection/v1/event.proto
  proto/lbm/token/v1/event.proto
  x/collection/event.go
  x/collection/event.pb.go
  x/collection/event_test.go
  x/collection/keeper/msg_server.go
  x/collection/keeper/msg_server_test.go
  x/collection/keeper/nft.go
  x/collection/keeper/send.go
  x/collection/keeper/supply.go
  x/token/event.go
  x/token/event.pb.go
  x/token/event_test.go
  x/token/keeper/msg_server.go
  x/token/keeper/msg_server_test.go
  x/token/keeper/supply.go
Labels: C:Collection, C:Token

#980 refactor: refactor x/token,collection query errors
  CHANGELOG.md
  x/collection/client/testutil/query.go
  x/collection/keeper/grpc_query.go
  x/collection/keeper/grpc_query_test.go
  x/token/keeper/grpc_query.go
  x/token/keeper/grpc_query_test.go
Labels: C:Collection, C:Token

#984 fix: revert #952
  CHANGELOG.md
  client/grpc/tmservice/service_test.go
  x/foundation/keeper/internal/treasury.go
Labels: bug, C:Foundation

#988 Release finschia-sdk v0.47.0
  CHANGELOG.md
  RELEASE_CHANGELOG.md
  go.mod
  go.sum
Labels: release
