Repository Finschia/finschia-sdk, pull requests merged in 2023-07, with the labels that each got.

#1038 feat: update x/collection cli for hackwasm2023
  CHANGELOG.md
  x/collection/client/cli/tx.go
  x/collection/client/testutil/suite.go
  x/collection/client/testutil/tx.go
Labels: enhancement, C:Collection

#1037 refactor: change the proof.proto path to third_party/proto/confio
  CHANGELOG.md
  third_party/proto/confio/proofs.proto
Labels: enhancement

#1042 Release finschia-sdk v0.47.1
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Labels: release

#1046 Release finschia-sdk v0.47.2
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Labels: release

#1043 build: update golang version to 1.20
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/sims_normal.yml
  .github/workflows/test.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Dockerfile
  Makefile
  README.md
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-env/Dockerfile
  contrib/rosetta/node/Dockerfile
  contrib/rosetta/rosetta-cli/Dockerfile
  crypto/keyring/keyring.go
  go.mod
  go.sum
  snapshots/manager_test.go
  store/rootmulti/snapshot_test.go
Labels: ci
