Repository Finschia/finschia-sdk, pull requests merged in 2023-09, with the labels that each got.

#1105 fix: add minted coins to balance in x/collection MsgMintFT
  CHANGELOG.md
  x/collection/keeper/migrations.go
  x/collection/keeper/migrations/v2/keys.go
  x/collection/keeper/migrations/v2/store.go
  x/collection/keeper/migrations/v2/store_test.go
  x/collection/keeper/supply.go
  x/collection/keeper/supply_test.go
  x/collection/module/module.go
Labels: bug, C:Collection, T: State Machine Breaking

#1106 fix: support x/collection migration on old chains
  CHANGELOG.md
  x/collection/keeper/migrations/v2/store.go
Labels: bug, C:Collection, T: State Machine Breaking

#1114 refactor: check statistics and balance on x/collection mint and burn operations
  CHANGELOG.md
  x/collection/keeper/supply_test.go
Labels: C:Collection

#1118 Release finschia-sdk v0.47.3
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Labels: release

#1120 docs: update links in x/foundation README.md
  CHANGELOG.md
  x/foundation/README.md
Labels: documentation, C:Foundation

#1121 feat: add update-censorship cmd to x/foundation cli
  CHANGELOG.md
  x/foundation/client/cli/tx.go
  x/foundation/client/testutil/tx.go
Labels: enhancement, C:Foundation

#1083 docs: add detailed explanation about default events
  CHANGELOG.md
  docs/docs/core/08-events.md
Labels: documentation

#1129 chore: add more unittest for `MsgGrantPermission` and `MsgRevokePermission` of x/token
  CHANGELOG.md
  x/token/keeper/keeper_test.go
  x/token/keeper/msg_server_test.go
Labels: C:Token

#1130 test(token): add additional testcase(mint, burn, modify)
  CHANGELOG.md
  x/token/errors.go
  x/token/keeper/msg_server_test.go
  x/token/msgs_test.go
Labels: C:Token
