Repository Finschia/finschia-sdk, pull requests merged in 2023-01, with the labels that each got.

#840 feat: enable querying based on mempool status (only gRPC)
  CHANGELOG.md
  baseapp/abci.go
  baseapp/grpcserver.go
  server/grpc/server_test.go
  types/grpc/headers.go
Labels: enhancement, C:baseapp

#853 refactor: Remove useless stub BeginBlock/EndBlock methods
  CHANGELOG.md
  x/authz/module/module.go
  x/bankplus/module.go
  x/capability/abci.go
  x/capability/module.go
  x/collection/module/module.go
  x/crisis/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/feegrant/module/module.go
  x/foundation/module/module.go
  x/gov/module.go
  x/ibc/applications/27-interchain-accounts/module.go
  x/ibc/applications/transfer/module.go
  x/ibc/core/module.go
  x/ibc/testing/mock/mock.go
  x/mint/module.go
  x/slashing/module.go
  x/staking/module.go
  x/stakingplus/module/module.go
  x/token/module/module.go
  x/upgrade/module.go
  x/wasm/module.go
Labels: C:Collection, C:Token

#862 fix: foundation amino codec (backport #833)
  CHANGELOG.md
  x/auth/types/codec.go
  x/auth/vesting/types/codec.go
  x/authz/codec.go
  x/bank/types/codec.go
  x/collection/codec.go
  x/crisis/types/codec.go
  x/distribution/types/codec.go
  x/evidence/types/codec.go
  x/feegrant/codec.go
  x/foundation/codec.go
  x/foundation/codec/cdc.go
  x/foundation/keeper/keeper.go
  x/foundation/msgs.go
  x/gov/types/codec.go
  x/slashing/types/codec.go
  x/staking/types/codec.go
  x/stakingplus/codec.go
  x/token/codec.go
  x/upgrade/types/codec.go
Labels: C:Foundation
