Repository Finschia/finschia-sdk, pull requests merged in 2024-03, with the labels that each got.

#1246 feat: add ZKAuthMsgDecorator anteHandler for zkauth
  CHANGELOG.md
  docs/core/proto-docs.md
  go.mod
  go.sum
  proto/finschia/zkauth/v1beta1/tx.proto
  simapp/ante/ante.go
  simapp/ante/ante_test.go
  simapp/app.go
  x/zkauth/ante/zkauth.go
  x/zkauth/ante/zkauth_test.go
  x/zkauth/client/cli/tx.go
  x/zkauth/keeper/keeper.go
  x/zkauth/keeper/keeper_test.go
  x/zkauth/keeper/msg_server_test.go
  x/zkauth/testutil/keeper.go
  x/zkauth/testutil/testdata/verification_key.json
  x/zkauth/types/address.go
  x/zkauth/types/address_test.go
  x/zkauth/types/config.go
  x/zkauth/types/errors.go
  x/zkauth/types/expected_keepers.go
  x/zkauth/types/jwks.go
  x/zkauth/types/jwt.go
  x/zkauth/types/msgs.go
  x/zkauth/types/msgs_test.go
  x/zkauth/types/tx.pb.go
  x/zkauth/types/zkauth_inputs.go
  x/zkauth/types/zkauth_inputs_test.go
  x/zkauth/types/zkauth_verify.go
  x/zkauth/types/zkauth_verify_test.go
Labels: C:x/zkauth

#1269 Add UnpackInterfaces to MsgExecute
  x/zkauth/types/msgs.go
Labels: C:x/zkauth

#1272 feat: replaces decorators
  baseapp/block_gas_test.go
  proto/finschia/zkauth/v1beta1/tx.proto
  simapp/ante/ante.go
  simapp/app.go
  x/auth/ante/expected_keepers.go
  x/zkauth/ante/zkauth.go
  x/zkauth/ante/zkauth_test.go
  x/zkauth/keeper/keeper.go
  x/zkauth/keeper/keeper_test.go
  x/zkauth/testutil/keeper.go
  x/zkauth/types/msgs.go
  x/zkauth/types/tx.pb.go
Labels: C:x/zkauth

#1275 Ignore gas when zkauth
  CHANGELOG.md
  baseapp/block_gas_test.go
  simapp/ante/ante.go
  x/zkauth/ante/zkauth.go
  x/zkauth/ante/zkauth_test.go
  x/zkauth/testutil/keeper.go
Labels: C:x/zkauth

#1278 fix: correct set of address
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/finschia/zkauth/v1beta1/zkauth.proto
  simapp/ante/ante_test.go
  x/auth/ante/expected_keepers.go
  x/zkauth/ante/zkauth.go
  x/zkauth/ante/zkauth_test.go
  x/zkauth/types/address.go
  x/zkauth/types/address_test.go
  x/zkauth/types/msgs_test.go
  x/zkauth/types/zkauth.pb.go
  x/zkauth/types/zkauth_inputs.go
  x/zkauth/types/zkauth_inputs_test.go
  x/zkauth/types/zkauth_verify_test.go
Labels: C:x/zkauth

#1274 fix(x/auth): ensure nil .BaseAccounts are reported in ModuleAccount.Validate
  CHANGELOG.md
  x/auth/types/account.go
  x/auth/types/account_test.go
Labels: A: bug, backport/v0.48.x

#1276 fix: add non-zero check of nextTokenID.Id for genesis
  CHANGELOG.md
  x/collection/genesis.go
  x/collection/genesis_test.go
Labels: A: bug, C:x/collection, backport/v0.48.x

#1280 feat: fetch jwk considering goroutine exit
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/finschia/zkauth/v1beta1/config.proto
  x/zkauth/keeper/keeper.go
  x/zkauth/types/config.go
  x/zkauth/types/config.pb.go
Labels: C:x/zkauth

#1277 fix: add init logic of module accounts just in case
  CHANGELOG.md
  baseapp/block_gas_test.go
  x/foundation/keeper/internal/genesis.go
  x/foundation/keeper/internal/genesis_test.go
Labels: A: bug, C:x/foundation, backport/v0.48.x

#1279 Deduct gas fee from zkauth address
  CHANGELOG.md
  x/zkauth/ante/zkauth.go
  x/zkauth/ante/zkauth_test.go
  x/zkauth/testutil/keeper.go
Labels: C:x/zkauth

#1268 fix: export x/collection params into genesis
  CHANGELOG.md
  x/collection/keeper/genesis.go
  x/collection/keeper/genesis_test.go
Labels: A: bug, C:x/collection, backport/v0.48.x

#1294 fix: reject NFT coins on FT APIs
  CHANGELOG.md
  x/collection/msgs.go
  x/collection/msgs_test.go
Labels: A: bug, C:x/collection, A: State Machine Breaking

#1295 fix: add error handling for x/foundation migration
  CHANGELOG.md
  x/foundation/module/module.go
Labels: C:x/foundation

#1291 Compare the signer of the normal message and the signer of MsgExcute
  CHANGELOG.md
  x/zkauth/keeper/keeper.go
  x/zkauth/keeper/keeper_test.go
  x/zkauth/keeper/msg_server.go
  x/zkauth/keeper/msg_server_test.go
Labels: A: bug, C:x/zkauth

#1298 build: set Finschia/ostracon version
  CHANGELOG.md
  Makefile
Labels: A: build

#1303 fix: possible overflow in BuildUnsignedTx
  CHANGELOG.md
  client/tx/factory.go
Labels: A: bug, backport/v0.48.x, C:client

#1299 fix: add missing nil checks
  CHANGELOG.md
  types/coin.go
  types/coin_test.go
  types/dec_coin.go
  types/dec_coin_test.go
  types/fuzz_test.go
Labels: A: bug, backport/v0.48.x

#1301 fix: Use bytes instead of string comparison in delete validator queue (backport cosmos/cosmos-sdk#12303)
  CHANGELOG.md
  x/staking/keeper/validator.go
Labels: A: bug, backport/v0.48.x, C:x/staking

#1304 fix: fetch a failed proposal tally from proposal.FinalTallyResult in the gprc query
  CHANGELOG.md
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
Labels: A: bug, A: Client Breaking

#1312 fix: ignore error when key not found in keys delete
  CHANGELOG.md
  client/keys/delete.go
  client/keys/delete_test.go
Labels: A: bug, backport/v0.48.x, C:client

#1314 fix: replace IsEqual with Equal
  CHANGELOG.md
  simapp/test_helpers.go
  types/coin.go
  types/coin_test.go
  types/dec_coin.go
  types/dec_coin_test.go
  x/auth/legacy/v043/store_test.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
  x/bank/keeper/genesis.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/invariants.go
  x/bank/keeper/querier_test.go
  x/bank/types/genesis.go
  x/bank/types/msgs.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/invariants.go
  x/foundation/keeper/internal/invariants.go
  x/gov/abci_test.go
  x/gov/genesis.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/invariants.go
  x/gov/types/params.go
  x/mint/types/minter_test.go
  x/staking/genesis.go
  x/staking/types/msg_test.go
Labels: A: bug

#1310 fix: app-hash mismatch if upgrade migration commit is interrupted(backport cosmos/cosmos-sdk#13530)
  CHANGELOG.md
  store/rootmulti/store.go
  store/rootmulti/store_test.go
Labels: A: bug, backport/v0.48.x, C:store

#1313 fix: correctly coalesce coins even with repeated denominations(backport cosmos/cosmos-sdk#13265)
  CHANGELOG.md
  types/coin.go
  types/coin_test.go
  x/auth/vesting/types/vesting_account.go
  x/gov/types/params.go
Labels: A: bug, backport/v0.48.x

#1316 fix(crypto): error if incorrect ledger public key
  CHANGELOG.md
  crypto/keyring/keyring.go
  crypto/keyring/keyring_ledger_test.go
Labels: backport/v0.48.x, C:crypto

#1319 fix: prevent signing from wrong key in multisig
  CHANGELOG.md
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
  x/auth/client/testutil/suite.go
Labels: A: bug, C:x/auth, backport/v0.48.x

#1323 fix: update param validation to fail on nil dec
  CHANGELOG.md
  x/mint/types/params.go
  x/slashing/types/params.go
Labels: A: bug, backport/v0.48.x, C:x/slashing, C:x/mint
