Repository Finschia/finschia-sdk, pull requests merged in 2024-02, with the labels that each got.

#1237 test: check tx result on x/foundation e2e test
  .github/workflows/test.yml
  .golangci.yml
  CHANGELOG.md
  scripts/go-lint-all.bash
  tests/e2e/foundation/grpc.go
  tests/e2e/foundation/query.go
  tests/e2e/foundation/suite.go
  tests/e2e/foundation/tx.go
  tests/go.mod
  tests/go.sum
  x/foundation/authz.go
  x/foundation/events.go
  x/foundation/foundation.go
  x/foundation/genesis.go
  x/foundation/go.mod
  x/foundation/keeper/internal/grpc_query.go
  x/foundation/msgs.go
Labels: A: CI, C:x/foundation, A: build

#1239 feat: add `CalculateAllInputsHash` in ZKAuthInputs
  CHANGELOG.md
  go.mod
  go.sum
  x/zkauth/types/errors.go
  x/zkauth/types/zkauth_inputs.go
  x/zkauth/types/zkauth_inputs_test.go
Labels: A: improvement, C:x/zkauth

#1240 feat: implement fetch jwk
  docs/core/proto-docs.md
  proto/finschia/zkauth/v1beta1/config.proto
  sonar-project.properties
  x/zkauth/keeper/keeper.go
  x/zkauth/keeper/keeper_test.go
  x/zkauth/keeper/keys.go
  x/zkauth/module.go
  x/zkauth/testutil/keeper.go
  x/zkauth/types/codec.go
  x/zkauth/types/config.go
  x/zkauth/types/config.pb.go
  x/zkauth/types/msgs.go
Labels: C:x/zkauth

#1247 feat: Implement dispatch msg
  docs/core/proto-docs.md
  proto/finschia/zkauth/v1beta1/tx.proto
  x/zkauth/client/cli/tx.go
  x/zkauth/keeper/keeper.go
  x/zkauth/keeper/keeper_test.go
  x/zkauth/keeper/msg_server.go
  x/zkauth/keeper/msg_server_test.go
  x/zkauth/testutil/keeper.go
  x/zkauth/testutil/keeper_test.go
  x/zkauth/types/msgs.go
  x/zkauth/types/tx.pb.go
Labels: C:x/zkauth
