Repository Finschia/finschia-sdk, pull requests merged in 2024-06, with the labels that each got.

#1410 chore(deps): Bump Go from 1.20 to 1.22
  .github/workflows/check-generated.yml
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/sims_normal.yml
  .github/workflows/test.yml
  CHANGELOG.md
  Dockerfile
  contrib/devtools/dockerfile
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-env/Dockerfile
  contrib/rosetta/node/Dockerfile
  contrib/rosetta/rosetta-cli/Dockerfile
  go.mod
  go.sum
  ics23/go/go.mod
  internal/conv/string.go
  tools/error_doc/go.mod
Labels: dependencies, A: build, backport/v0.49.x

#1412 chore(deps): Update outdated dependencies
  CHANGELOG.md
  go.mod
  go.sum
  server/rosetta/client_online.go
  telemetry/metrics.go
  telemetry/metrics_test.go
  telemetry/wrapper.go
  x/auth/vesting/msg_server.go
  x/bank/keeper/msg_server.go
  x/distribution/keeper/msg_server.go
  x/gov/keeper/msg_server.go
  x/staking/keeper/msg_server.go
Labels: dependencies

#1413 chore(deps): Update outdated dependencies
  CHANGELOG.md
  go.mod
  go.sum
Labels: dependencies

#1415 chore: add additional testcases for fswap
  CHANGELOG.md
  x/fswap/keeper/genesis_test.go
  x/fswap/keeper/grpc_query_test.go
  x/fswap/keeper/keeper_test.go
  x/fswap/keeper/msg_server_test.go
  x/fswap/types/config_test.go
  x/fswap/types/genesis_test.go
  x/fswap/types/msgs_test.go
Labels: backport/v0.48.x, backport/v0.49.x, C:x/fswap

#1418 refactor!: Remove grpc-web/rosetta and improve server performance
  .github/workflows/test.yml
  CHANGELOG.md
  Makefile
  client/context.go
  client/grpc_query.go
  contrib/rosetta/README.md
  contrib/rosetta/configuration/bootstrap.json
  contrib/rosetta/configuration/data.sh
  contrib/rosetta/configuration/faucet.py
  contrib/rosetta/configuration/rosetta.json
  contrib/rosetta/configuration/run_tests.sh
  contrib/rosetta/configuration/send_funds.sh
  contrib/rosetta/configuration/transfer.ros
  contrib/rosetta/docker-compose.yaml
  contrib/rosetta/node/Dockerfile
  contrib/rosetta/node/data.tar.gz
  contrib/rosetta/rosetta-cli/Dockerfile
  docs/run-node/rosetta.md
  go.mod
  go.sum
  init_node.sh
  server/api/server.go
  server/config/config.go
  server/config/toml.go
  server/grpc/grpc_web.go
  server/grpc/grpc_web_test.go
  server/grpc/server.go
  server/rosetta.go
  server/rosetta/client_offline.go
  server/rosetta/client_online.go
  server/rosetta/client_online_test.go
  server/rosetta/codec.go
  server/rosetta/config.go
  server/rosetta/converter.go
  server/rosetta/converter_test.go
  server/rosetta/lib/errors/errors.go
  server/rosetta/lib/errors/errors_test.go
  server/rosetta/lib/errors/registry.go
  server/rosetta/lib/internal/service/construction.go
  server/rosetta/lib/internal/service/data.go
  server/rosetta/lib/internal/service/offline.go
  server/rosetta/lib/internal/service/online.go
  server/rosetta/lib/server/server.go
  server/rosetta/lib/types/types.go
  server/rosetta/types.go
  server/rosetta/util.go
  server/start.go
  server/types/app.go
  server/util.go
  simapp/simd/cmd/root.go
  testutil/network/network.go
  testutil/network/util.go
Labels: A: improvement, A: Client Breaking, C:server

#1419 docs: correct spec docs of fswap module
  CHANGELOG.md
  x/fswap/keeper/keys.go
  x/fswap/spec/01_concepts.md
  x/fswap/spec/02_state.md
  x/fswap/spec/03_events.md
  x/fswap/spec/README.md
Labels: documentation, backport/v0.49.x, C:x/fswap

#1405 test: add CLI, gRPC, MsgServer tests
  CHANGELOG.md
  client/tendermint.go
  init_node.sh
  testutil/cli/tm_mocks.go
  types/module/testutil/codec.go
  x/fbridge/client/cli/query.go
  x/fbridge/client/cli/query_test.go
  x/fbridge/client/cli/tx.go
  x/fbridge/client/cli/tx_test.go
  x/fbridge/keeper/abci_test.go
  x/fbridge/keeper/auth.go
  x/fbridge/keeper/auth_test.go
  x/fbridge/keeper/genesis_test.go
  x/fbridge/keeper/grpc_query_test.go
  x/fbridge/keeper/msg_server_test.go
  x/fbridge/types/fbridge_test.go
  x/fbridge/types/keys_test.go
  x/fbridge/types/params_test.go
Labels: backport/v0.49.x, C:x/fbridge
