Repository Finschia/finschia-sdk, pull requests merged in 2024-05, with the labels that each got.

#1347 feat: fbridge transfer
  CHANGELOG.md
  Makefile
  proto/lbm/fbridge/v1/fbridge.proto
  simapp/app.go
  x/fbridge/client/cli/query.go
  x/fbridge/client/cli/tx.go
  x/fbridge/keeper/genesis.go
  x/fbridge/keeper/grpc_query.go
  x/fbridge/keeper/keeper.go
  x/fbridge/keeper/msg_server.go
  x/fbridge/keeper/transfer.go
  x/fbridge/keeper/transfer_test.go
  x/fbridge/testutil/expected_keepers_mocks.go
  x/fbridge/testutil/setup.go
  x/fbridge/types/expected_keepers.go
  x/fbridge/types/fbridge.pb.go
  x/fbridge/types/genesis.go
  x/fbridge/types/keys.go
  x/fbridge/types/params.go
Labels: A: feature

#1351 feat: save sequence for every bridge request
  CHANGELOG.md
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/fbridge/v1/fbridge.proto
  proto/lbm/fbridge/v1/genesis.proto
  proto/lbm/fbridge/v1/query.proto
  x/fbridge/client/cli/query.go
  x/fbridge/keeper/genesis.go
  x/fbridge/keeper/grpc_query.go
  x/fbridge/keeper/transfer.go
  x/fbridge/keeper/transfer_test.go
  x/fbridge/types/genesis.pb.go
  x/fbridge/types/keys.go
  x/fbridge/types/query.pb.go
  x/fbridge/types/query.pb.gw.go
Labels: A: feature

#1356 ci: add v0.49.x for backport mergify
  .mergify.yml
  CHANGELOG.md
Labels: A: CI

#1350 feat: add role-based access control for bridge
  CHANGELOG.md
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/fbridge/v1/event.proto
  proto/lbm/fbridge/v1/fbridge.proto
  proto/lbm/fbridge/v1/genesis.proto
  proto/lbm/fbridge/v1/query.proto
  proto/lbm/fbridge/v1/tx.proto
  simapp/app.go
  x/ERRORS.md
  x/fbridge/client/cli/query.go
  x/fbridge/client/cli/tx.go
  x/fbridge/keeper/abci.go
  x/fbridge/keeper/auth.go
  x/fbridge/keeper/auth_test.go
  x/fbridge/keeper/genesis.go
  x/fbridge/keeper/grpc_query.go
  x/fbridge/keeper/keeper.go
  x/fbridge/keeper/msg_server.go
  x/fbridge/keeper/params.go
  x/fbridge/keeper/transfer_test.go
  x/fbridge/module/module.go
  x/fbridge/testutil/setup.go
  x/fbridge/types/codec.go
  x/fbridge/types/errors.go
  x/fbridge/types/event.pb.go
  x/fbridge/types/fbridge.go
  x/fbridge/types/fbridge.pb.go
  x/fbridge/types/genesis.go
  x/fbridge/types/genesis.pb.go
  x/fbridge/types/keys.go
  x/fbridge/types/msgs.go
  x/fbridge/types/params.go
  x/fbridge/types/params_test.go
  x/fbridge/types/query.pb.go
  x/fbridge/types/query.pb.gw.go
  x/fbridge/types/tx.pb.go
Labels: A: feature

#1361 fix: fbridge auth checking bug
  CHANGELOG.md
  x/fbridge/keeper/keeper.go
  x/fbridge/keeper/keeper_test.go
Labels: A: bug, backport/v0.49.x

#1363 feat(x/fswap): introduce new event(MakeSwapProposal)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/event.proto
  x/fswap/keeper/proposal.go
  x/fswap/keeper/proposal_test.go
  x/fswap/types/event.pb.go
Labels: A: feature, backport/v0.49.x

#1365 fix: update swap keys for possibly overlapped keys
  CHANGELOG.md
  x/fswap/keeper/grpc_query.go
  x/fswap/keeper/keys.go
  x/fswap/keeper/keys_test.go
  x/fswap/types/fswap.go
  x/fswap/types/msgs.go
Labels: A: bug, backport/v0.49.x

#1366 feat(x/fbridge): set target denom as module parameters
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/fbridge/v1/event.proto
  proto/lbm/fbridge/v1/fbridge.proto
  proto/lbm/fbridge/v1/tx.proto
  simapp/app.go
  x/fbridge/keeper/auth_test.go
  x/fbridge/keeper/genesis.go
  x/fbridge/keeper/keeper.go
  x/fbridge/keeper/keeper_test.go
  x/fbridge/keeper/msg_server.go
  x/fbridge/keeper/params.go
  x/fbridge/keeper/params_test.go
  x/fbridge/keeper/transfer.go
  x/fbridge/keeper/transfer_test.go
  x/fbridge/types/codec.go
  x/fbridge/types/event.pb.go
  x/fbridge/types/fbridge.pb.go
  x/fbridge/types/genesis.go
  x/fbridge/types/msgs.go
  x/fbridge/types/params.go
  x/fbridge/types/tx.pb.go
Labels: A: improvement, A: feature, backport/v0.49.x

#1369 chore(x/fbridge): add the event of `SetBridgeStatus`
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/fbridge/v1/event.proto
  x/fbridge/keeper/msg_server.go
  x/fbridge/types/event.pb.go
Labels: backport/v0.49.x

#1372 feat: support message based proposals
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/fswap.proto
  proto/lbm/fswap/v1/tx.proto
  simapp/app.go
  x/fswap/client/cli/tx.go
  x/fswap/client/proposal_handler.go
  x/fswap/codec/codec.go
  x/fswap/handler.go
  x/fswap/keeper/keeper.go
  x/fswap/keeper/keeper_test.go
  x/fswap/keeper/msg_server.go
  x/fswap/keeper/msg_server_test.go
  x/fswap/keeper/proposal.go
  x/fswap/keeper/proposal_test.go
  x/fswap/proposal_handler_test.go
  x/fswap/types/codec.go
  x/fswap/types/fswap.go
  x/fswap/types/fswap.pb.go
  x/fswap/types/genesis.go
  x/fswap/types/msgs.go
  x/fswap/types/proposal.go
  x/fswap/types/tx.pb.go
Labels: A: improvement, backport/v0.49.x

#1378 Fix bug where amino is not supported in fswap and fbridge
  CHANGELOG.md
  client/docs/swagger-ui/swagger.yaml
  x/fbridge/module/module.go
  x/fbridge/types/codec.go
  x/fbridge/types/keys.go
  x/fbridge/types/msgs.go
  x/fbridge/types/msgs_test.go
  x/fswap/types/keys.go
  x/fswap/types/msgs.go
  x/fswap/types/msgs_test.go
Labels: A: bug, backport/v0.49.x

#1379 fix: add missing router registration
  CHANGELOG.md
  x/fswap/keeper/keeper.go
  x/fswap/module.go
Labels: A: bug, backport/v0.49.x

#1385 fix: missing event emissions(EventSetSwap, EventAddDenomMetadata)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/event.proto
  x/fswap/keeper/keeper.go
  x/fswap/keeper/keeper_test.go
  x/fswap/types/event.pb.go
Labels: A: bug, backport/v0.49.x

#1387 feat: add new query to get a swap
  CHANGELOG.md
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/query.proto
  x/fswap/client/cli/query.go
  x/fswap/keeper/grpc_query.go
  x/fswap/keeper/grpc_query_test.go
  x/fswap/testutil/expected_keepers_mocks.go
  x/fswap/types/msgs.go
  x/fswap/types/msgs_test.go
  x/fswap/types/query.pb.go
  x/fswap/types/query.pb.gw.go
Labels: A: feature, backport/v0.49.x

#1382 test: add validation & unit tests in fswap module
  CHANGELOG.md
  Makefile
  simapp/app.go
  x/fswap/keeper/expected_keepers.go
  x/fswap/keeper/genesis_test.go
  x/fswap/keeper/grpc_query_test.go
  x/fswap/keeper/keeper.go
  x/fswap/keeper/keeper_test.go
  x/fswap/testutil/expected_keepers_mocks.go
  x/fswap/types/genesis.go
  x/fswap/types/genesis_test.go
Labels: A: improvement, backport/v0.49.x

#1396 chore: refactor to use snake_case in proto
  CHANGELOG.md
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/lbm/fswap/v1/query.proto
  x/fswap/types/query.pb.go
Labels: A: improvement, backport/v0.49.x, C:x/fswap

#1391 test: add cli_test for fswap module
  CHANGELOG.md
  x/fswap/client/testutil/cli_test.go
  x/fswap/client/testutil/grpc.go
  x/fswap/client/testutil/query.go
  x/fswap/client/testutil/suite.go
  x/fswap/client/testutil/tx.go
Labels: A: improvement, backport/v0.49.x

#1395 fix: return error instead of panic for behaviors triggered by client
  CHANGELOG.md
  x/fbridge/keeper/abci.go
  x/fbridge/keeper/auth.go
  x/fbridge/keeper/auth_test.go
  x/fbridge/keeper/genesis.go
  x/fbridge/keeper/transfer.go
  x/fbridge/keeper/transfer_test.go
Labels: A: improvement, backport/v0.49.x, C:x/fbridge

#1393 build: add suffix string to docker container
  CHANGELOG.md
  Makefile
Labels: backport/v0.48.x, A: build, backport/v0.49.x

#1404 Release finschia-sdk v0.49.0
  CHANGELOG.md
  RELEASE_CHANGELOG.md
Labels: release
